{% extends "navbar.html" %}
 {% block titlle %}
      <ion-icon name="add-outline"></ion-icon>
      CRIAR CLIENTES
      {% endblock %}

{% block body %}
<script type="text/javascript">
    $("#telefone, #celular").mask("(00) 0000-00000");
    $("#cpf").mask("000.000.000-00");
    </script>
   
       {% block formulario %}

        <form method="POST" class="popup">
            {{ form.csrf_token }}
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(class="form-control") }}
         
            {{ form.cpf.label(class="form-label") }}
            {{ form.cpf(class="form-control", required=True) }}
         
            {{ form.telefone.label(class="form-label") }}
            {{ form.telefone(class="form-control") }}
         
            {{ form.endereco.label(class="form-label") }}
            {{ form.endereco(class="form-control") }}
          
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
          
            {{ form.data_nascimento.label(class="form-label") }}
            {{ form.data_nascimento(class="form-control", type="date") }}

            <label for="vendedor" class="form-label">Nome do Vendedor:</label>
              <select id="vendedor" name="vendedor"  class="form-select" >
                {% for usuario in usuarios %}
                  <option  value="{{usuario.id}}">{{usuario.username}}</option>
                {% endfor %}  
              </select>
            {{ form.botao_confirmacao(class="btn btn-success") }}
            

        </form>
          {% endblock %}
      </div>
    </div>
  </body>

{% endblock %}