{% extends "navbar.html" %}
 {% block titlle %}
      <ion-icon name="add-outline"></ion-icon>
      CRIAR CONTRATO
      {% endblock %}

{% block body %}
<script type="text/javascript">
    $("#telefone, #celular").mask("(00) 0000-00000");
    $("#cpf").mask("000.000.000-00");
    </script>
   
       {% block formulario %}

        <form method="POST" class="popup">

            {{ form.csrf_token }}
            <label for="cliente" class="form-label">Nome do Cliente:</label>
              <select id="cliente" name="cliente"  class="form-select" >
                {% for usuario in usuarios %}
                  <option  value="{{usuario.id}}">{{usuario.nome}}</option>
                {% endfor %}  
              </select>
              <label for="frequencia" class="form-label">Frequência de Pagamento:</label><br>
              <input type="checkbox" id="data" name="data[]"  value="01"/><label for="data">01</label>
              <input type="checkbox" id="data" name="data[]"  value="02"/><label for="data">02</label>
              <input type="checkbox" id="data" name="data[]"  value="03"/><label for="data">03</label>
              <input type="checkbox" id="data" name="data[]"  value="04"/><label for="data">04</label>
              <input type="checkbox" id="data" name="data[]"  value="05"/><label for="data">05</label>
              <input type="checkbox" id="data" name="data[]"  value="06"/><label for="data">06</label>
              <input type="checkbox" id="data" name="data[]"  value="07"/><label for="data">07</label><br>
              <input type="checkbox" id="data" name="data[]"  value="08"/><label for="data">08</label>
              <input type="checkbox" id="data" name="data[]"  value="09"/><label for="data">09</label>
              <input type="checkbox" id="data" name="data[]"  value="10"/><label for="data">10</label>
              <input type="checkbox" id="data" name="data[]"  value="11"/><label for="data">11</label>
              <input type="checkbox" id="data" name="data[]"  value="12"/><label for="data">12</label>
              <input type="checkbox" id="data" name="data[]"  value="13"/><label for="data">13</label>
              <input type="checkbox" id="data" name="data[]"  value="14"/><label for="data">14</label><br>
              <input type="checkbox" id="data" name="data[]"  value="15"/><label for="data">15</label>
              <input type="checkbox" id="data" name="data[]"  value="16"/><label for="data">16</label>
              <input type="checkbox" id="data" name="data[]"  value="17"/><label for="data">17</label>
              <input type="checkbox" id="data" name="data[]"  value="18"/><label for="data">18</label>
              <input type="checkbox" id="data" name="data[]"  value="19"/><label for="data">19</label>
              <input type="checkbox" id="data" name="data[]"  value="20"/><label for="data">20</label>
              <input type="checkbox" id="data" name="data[]"  value="21"/><label for="data">21</label><br>
              <input type="checkbox" id="data" name="data[]"  value="22"/><label for="data">22</label>
              <input type="checkbox" id="data" name="data[]"  value="23"/><label for="data">23</label>
              <input type="checkbox" id="data" name="data[]"  value="24"/><label for="data">24</label>
              <input type="checkbox" id="data" name="data[]"  value="25"/><label for="data">25</label>
              <input type="checkbox" id="data" name="data[]"  value="26"/><label for="data">26</label>
              <input type="checkbox" id="data" name="data[]"  value="27"/><label for="data">27</label>
              <input type="checkbox" id="data" name="data[]"  value="28"/><label for="data">28</label><br>
              <input type="checkbox" id="data" name="data[]"  value="29"/><label for="data">29</label>
              <input type="checkbox" id="data" name="data[]"  value="30"/><label for="data">30</label>
              <input type="checkbox" id="data" name="data[]"  value="31"/><label for="data">31</label>
              
              <hr>
            <label>Valor Total (R$):</label>
            <input type="number" class="form-control" id="valorTotal" name="valorTotal" placeholder="Valor total" oninput="calcular()">
            
            
            <label>Taxa de Juros Mensal (%):</label>
            <input type="number" class="form-control"  id="porcentagem" name="porcentagem" min="0" max="100" placeholder="0-100" oninput="calcular()"> 
            
            <p>Resultado com juros: <span id="resultado">0</span></p>

            <label>Número de Parcelas:</label>
            <input type="number" id="divisor" name="divisor" value="2" placeholder="Digite o divisor" oninput="realizarCalculo()">
            
            <p>Resultado das Parcelas: <span id="resultadodois"></span></p>

             
    

            {{ form.botao_confirmacao(class="btn btn-primary") }}
        </form>
          {% endblock %}
      </div>
    </div>
  </body>
<script>
  function calcular() {
    const p = document.getElementById('porcentagem').value;
    const v = document.getElementById('valorTotal').value;
    const res = ((p / 100) * v)+parseFloat(v); 
    document.getElementById('resultado').innerText = res.toFixed(2); 
    return res;
  }
  function realizarCalculo() {
    let inputDivisor = document.getElementById('divisor').value;
    let divisor = Number(inputDivisor);

    let valorParaDividir = calcular();

    if (divisor !== 0) {
        let resultado = valorParaDividir / divisor;
        document.getElementById('resultadodois').innerText = resultado.toFixed(2);
    } else {
        alert("Não é possível dividir por zero!");
    }
}
</script>
{% endblock %}