{% extends "navbar.html" %}
 {% block titlle %}
      <ion-icon name="add-outline"></ion-icon>
      CRIAR CONTRATO
      {% endblock %}

{% block body %}
<script type="text/javascript">
    $("#telefone, #celular").mask("(00) 0000-00000");
    $("#cpf").mask("000.000.000-00");
    </script>
   
       {% block formulario %}

        <form method="POST" class="popup">

            {{ form.csrf_token }}
            <label for="cliente" class="form-label">Nome do Cliente:</label>
              <select id="cliente" name="cliente"  class="form-select" >
                {% for usuario in usuarios %}
                  <option  value="{{usuario.id}}">{{usuario.nome}}</option>
                {% endfor %}  
              </select>
              <label for="frequencia" class="form-label">Frequência de Pagamento:</label><br>
              <select class="form-select" aria-label="Default select example" name="frequencia" id="frequencia">
                <option selected>Selecionar Frequência</option>
                <option value="Diario">Diario</option>
                <option value="Semanal">Semanal</option>
                <option value="Mensal">Mensal</option>
                <option value="Bimestral">Bimestral</option>
                <option value="Trimestral">Trimestral</option>
              </select>
              
              <hr>
            <label for="frequencia" class="form-label">Condicao de pagamento:</label><br>
              <select class="form-select" aria-label="Default select example" name="condicao" id="condicao">
                <option selected>Selecionar Condição</option>
                {% for pagamento in pagamentos %}
                  <option  value="{{pagamento.id}}">Valor: R$ {{pagamento.valor }} | Valor C/Juros: {{ pagamento.valor_juros }} | Parcelas: {{ pagamento.parcelas }} x de R$ {{ pagamento.result_parcelas }}</option>
                {% endfor %}
              </select>
             
    

            {{ form.botao_confirmacao(class="btn btn-primary") }}
        </form>
          {% endblock %}
      </div>
    </div>
  </body>
<script>
  function calcular() {
    const p = document.getElementById('porcentagem').value;
    const v = document.getElementById('valorTotal').value;
    const res = ((p / 100) * v)+parseFloat(v); 
    document.getElementById('resultado').innerText = res.toFixed(2); 
    return res;
  }
  function realizarCalculo() {
    let inputDivisor = document.getElementById('divisor').value;
    let divisor = Number(inputDivisor);

    let valorParaDividir = calcular();

    if (divisor !== 0) {
        let resultado = valorParaDividir / divisor;
        document.getElementById('resultadodois').innerText = resultado.toFixed(2);
    } else {
        alert("Não é possível dividir por zero!");
    }
}
</script>
{% endblock %}