{% extends "navbar.html" %}
 {% block titlle %}
      <ion-icon name="wallet-outline"></ion-icon>
        PAGAMENTOS
      {% endblock %}

{% block body %}
<a href="{{ url_for('criar_pagamento') }}" class="btn btn-success">CRIAR PAGAMENTO</a>
  
       <table class="table">
  <thead>
    <tr>
      <th scope="col">Valor</th>
      <th scope="col">Valor c/ Juros</th>
      <th scope="col">Parcelas</th>
      <th scope="col">Valor Parcela</th>
      <th scope="col">Comissão</th>
      <th scope="col">Editar</th>
    </tr>
  </thead>
  <tbody>
    {% for pag in pagamentos %}
    <tr>
      <th scope="row">{{ pag.valor }}</th>
      <td>{{ pag.juros }}% de {{ pag.valor }} = {{ pag.valor_juros }}</td>
      <td>{{ pag.valor_juros }}</td>
      <td>{{ pag.parcelas }} x {{ pag.result_parcelas }}</td>
     
      <td>{{ pag.porcentagem_comissao }}% de {{ pag.valor }} = R$ {{ pag.valor_comissao }}</td>
      <td><a href="{{ url_for('editar_pagamento', id=pag.id) }}" class="btn btn-primary">EDITAR</a></td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
  </body>

{% endblock %}