{% extends "navbar.html" %}
 {% block titlle %}
      <ion-icon name="checkmark-outline"></ion-icon>
      DIVIDAS QUITADAS
      {% endblock %}

{% block body %}  
       <table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Observação</th>
      <th scope="col">Ultimo Lancamento</th>
      <th scope="col">Saldo</th>
      <th scope="col">Responsavel</th>
      <th scope="col">Emprestimo</th>
      <th scope="col">Extrato</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
    {% set cliente, usuario = cliente %}
    <tr>
      <th scope="row">{{ cliente.nome }}</th>
      <td>
         {% set ultima_movimentacao = movimentacao_map_obs.get(cliente.id) %}
        {% if ultima_movimentacao %}
          {{ ultima_movimentacao }}
        {% else %}
          Sem Lancamentos
        {% endif %}
      </td>
      <td>
      {% set ultima_movimentacao = movimentacao_map.get(cliente.id) %}
        {% if ultima_movimentacao %}
          {{ ultima_movimentacao }}
        {% else %}
          Sem Lancamentos
        {% endif %}
        </td>
      <td>{{ cliente.saldo}}</td>      
      <td>{{ usuario.username}}</td>
      <td><a href="{{ url_for('valor_emprestimo', id_user=cliente.id) }}" class="btn btn-success">RENOVACAO</a></td>
      <td><a href="{{ url_for('extrato', id=cliente.id) }}" class="btn btn-primary">EXTRATO</a></td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>

  </body>

{% endblock %}